article header, article p, article .votar {
    display: inline-block;
}

article header, article .votar {
    width: 100px;
}

article p:nth-child(2) {
    width: 580px;
}

body {
    background: #98BF4B;
    margin: 0;
    padding: 0;
    font-family: "Helvetica", "Arial", sans-serif;
}

footer {
    width: 80%;
}

footer li {
    list-style: none;
    display: inline;
    margin-right: 10px;
}

h1, nav {
    display: inline-block;
    margin: 0 50px 0 0;
}

h1 a {
    color: whitesmoke;
    font-weight: normal;
    text-decoration: none;
}

header#main {
    background: #252525;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    color: whitesmoke;
    font-size: 14px;
    margin: 0;
    padding: 5px 5px 3px 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

nav h2 {
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    margin: 0 0 0 10px;
}

nav a {
    color: whitesmoke;
    text-decoration: none;
}

section#ideas {
    margin: 70px auto 20px auto;
    width: 65%;
}

#ideas article {
    background-image: linear-gradient(bottom, rgb(219,219,219) 39%, rgb(247,247,247) 70%);
    background-image: -o-linear-gradient(bottom, rgb(219,219,219) 39%, rgb(247,247,247) 70%);
    background-image: -moz-linear-gradient(bottom, rgb(219,219,219) 39%, rgb(247,247,247) 70%);
    background-image: -webkit-linear-gradient(bottom, rgb(219,219,219) 39%, rgb(247,247,247) 70%);
    background-image: -ms-linear-gradient(bottom, rgb(219,219,219) 39%, rgb(247,247,247) 70%);
    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0.39, rgb(219,219,219)),
            color-stop(0.7, rgb(247,247,247))
    );
    border-radius: 5px;
    box-shadow: 0 0 150px rgba(255, 255, 255, 0.6), 0 0 10px 2px rgba(0, 0, 0, 0.3);
    margin: 30px auto;
    padding: 10px;
}

#ideas article:hover {
    box-shadow: 0 0 150px rgba(255, 255, 255, 0.6), 0 0 10px 2px rgba(0, 0, 0, 0.75);

}

#ideas article:hover .votar span {
    border: 2px solid #CCC;
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    transition: 300ms;
}

.centered {
    margin: 0 auto;
}

.votar {
    position: relative;
}

.gusta, .nogusta {
    display: inline-block;
    height: 15px;
    text-indent: -99999px;
    width: 15px;
}

.gusta:hover, .nogusta:hover {
}

.gusta {
    background: url("/images/arribita.png");
}

.nogusta {
    background: url("/images/abajito.png");  
}

.opciones {
    clear: both;
    left: 70px;
    top: 20px;
}

.votar span {
    background: white;
    border-top: 2px solid #CCC;
    border-right: 2px solid #CCC;
    border-radius: 3px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
    clear: both;
    color: #333;
    display: block;
    font-size: 2.1em;
    font-weight: bolder;
    height: 50px;
    line-height: 50px;
    position: absolute;
    right: 0;
    text-align: center;
    top: -60px;
    -moz-transform: skew(0deg, 10deg);
    -webkit-transform: skew(0deg, 10deg);
    transform: skew(0deg, 10deg);
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    transition: 300ms;
    width: 50px;
}
